APP_NAME=async-payments-service
APP_VERSION=0.1.0
DEBUG=false

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=payments
POSTGRES_USER=payments
POSTGRES_PASSWORD=payments
DATABASE_URL=postgresql+asyncpg://payments:payments@postgres:5432/payments

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
